 :root {
  --azul-principal: #2053ba;   
  --azul-secundario: #011e4e; 
  --azul-claro: #007bff;       
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras:#77a3ea;
}
 /*Inicio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, sans-serif;/*Cambiar*/
}

/* NAVBAR */
.navegar {
   padding: 0 190px;   /* márgenes internos a izquierda y derecha */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Línea debajo del nav */
.navegar {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
 
  border-bottom: 1px solid var(--azul-secundario);
}
/* --- ENLACES DE LA NAVEGADOR --- */
.nav-links a {
    position: relative;
    font-size: 18px;   
    font-weight: bold;
}

/* ocultandor  de la linia */
.nav-links a::after {
    content: "";
    position: absolute;
     bottom: -5px;
    left: 0%;
    width: 100%;
    height: 3px;
    background: var(--azul-claro);
    transform: scaleX(0);
    transition: transform 0.40s ease-out;

}

/* Aparicion linia */
.nav-links a:hover::after
 {
    transform: scaleX(1);
}

.navegar img{
    max-width: 20%;
}
.navegar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
/*Cambiar a pointer con la funcion del logo*/
#milogo, #milogoo {
    cursor: pointer;
    /* Cuerpo*/
}
.contacto {
  display: flex;
  flex-direction: column; 
  max-width: 800px;       
  padding: 20px;     
  margin: auto;    
  background: #d6deeb;   
  border-radius: 30px;    
  box-shadow: 0 4px 15px #77a3ea;
  justify-content: center;
  margin-top: 120px;

}
/*Encabezado de contacto*/
.contacto{
  margin: 30px auto 30px;
}
.contacto h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}

.contacto label {
  font-weight: bold;
}
.contacto input,
.contacto textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 16px;
}



.botoncon{
  display: flex;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  color: #000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
 justify-content: flex-end;
}
/*Pie de pagina*/
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
    padding: 20px;
    text-align: center;
    color: var(--blanco);
}

.pie-logo img {
    width: 150px;
}

.pie-links {
    margin-top: 30px;
    font-size: 14px;
}

.pie-links a {
    margin: 15px;
    color: var(--blanco);
    text-decoration: none;
}

.pie-links a:hover {
    color: var(--footer);
}
/*Emoticono de insta*/
.instagram{
   padding: 20px;
  display: flex;
  justify-content: center;

}