:root {
  --azul-principal: #2053ba;   
  --azul-secundario: #011e4e; 
  --azul-claro: #007bff;       
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras:#77a3ea;
}
/* Inicio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, sans-serif;
}

.navbar {
  background-color: #fefefe;
  padding: 2px 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.navbar img {
  width: 80px;
  height: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: right;
}
/* RESET */


.navbar {
  background-color: #fefefe;
  padding: 2px 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.navbar img {
  width: 80px;
  height: auto;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: right;
}
/*Cuerpo*/
.texto {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.derick-img img {
  width: 400px;
  border-radius: 20px;
}

h2 {
  font-size: 35px;
  line-height: 1.2;
}

.objetos {
  margin-top: 30px;
}

.objeto {
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
}

.objeto .icono {
  font-size: 40px;
}
.objeto p{
  margin-top: 15px;

}

.negrita{
  font-weight: bold;
}


.destacar{
  color: #2594f5;
}
/* Primero contenedor */
.primer_contenedor{
  display: flex;
  padding: 40px;
  background: var(--gris-fondo);
  border-radius: 20px; 
  align-items: flex-start;


  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
}
.primer_contenedor h2{
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}
.primer_contenedor img{
  width: 300px;
  border-radius: 20px;
  margin: right;
}
.primer_contenedor_encabezado{ 
  display: flex;
  flex-direction: column; /* apilar h2 y p verticalmente */
  margin-left: 100px; 
  margin-top: 100px;

}

/*pie de pagina*/
.instagram{
   padding: 40px 100px ;
  background: linear-gradient(to right, #011e4e, #2053ba);
  position: static;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.instagram svg{
  height: 40px;
  
}
