/* VARIABLES */
:root {
  --azul-principal: #2053ba;
  --azul-secundario: #011e4e;
  --azul-claro: #007bff;
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras: #77a3ea;
  --footer: #bfc6db;
}

/* RESET Y BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.negrita {
  font-weight: bold;
}

.destacar {
  color: var(--azul-principal);
}

/* NAVEGACIÓN */
.navegar {
  width: 100%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--gris-fondo);
}

.navegar img{
  width: 65px;
  margin-bottom: 5px;
}
#logo_nav,
#logo_pie{
  cursor: pointer;
}
.navegar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.nav-links a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--azul-claro);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

/* Logo */
#logo_nav,
#logo_pie{
  cursor: pointer;
}

/* CUERPO */
.texto {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto 30px;
  padding: 20px;
  background-color: var(--gris-fondo);
  box-shadow: 0 0 10px var(--azul-principal);
  border-radius: 20px;
}
.derick-img img {
  width: 350px;
  border-radius: 20px;
}

/* Mantener los objetos alineados verticalmente */
.objeto {
  display: flex;
  align-items: flex-start;

  gap: 10px;
  margin: 40px auto 0;
}

.objeto p {
  font-size: 20px;
  line-height: 1.5;
}

.emogi {
  font-size: 23px;
  flex-shrink: 0;
}


/* SECCIÓN MIKI */
.inspiracion_miki {
  text-align: center;
  font-size: 35px;
  margin: 50px auto 0;
}

.seccion_miki {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
}
.escrito_miki h2{
  font-size: 30px;
}
.escrito_miki p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 15px;
}

.foto_miki {
  max-width: 220px;
}

.foto_miki img {
  width: 100%;
  border-radius: 25px;
}

/* FOOTER */
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  text-align: center;
  color: var(--blanco);
  padding-bottom: 20px;
    margin-top: 40px;
}

.pie-logo img {
  width: 110px;
  margin: 20px auto 0px;

}

.pie-links {
  margin: 30px auto 0;
  font-size: 14px;
}

.pie-links a {
  padding: 0 10px;
  color: var(--blanco);
  text-decoration: none;
}

.pie-links a:hover {
  color: var(--footer);
}

.redes {
  padding: 0px;
  gap: 20px;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
