/* VARIABLES */
:root {
  --azul-principal: #2053ba;
  --azul-secundario: #011e4e;
  --azul-claro: #007bff;
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras: #77a3ea;
  --footer: #bfc6db;
}

/* RESET Y BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.negrita {
  font-weight: bold;
}
.emogi

.destacar {
  color: var(--azul-principal);
}

/* NAVEGACIÓN */
.navegar {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 40px;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--azul-secundario);
}

.navegar img {
  width: 120px;
}

.nav-links a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Línea animada */
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--azul-claro);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

/* Logo */
#milogo,
#milogoo {
  cursor: pointer;
}

/* CUERPO */
.texto {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto 30px;
  padding: 20px;
  background-color: var(--gris-fondo);
  box-shadow: 0 0 10px var(--azul-principal);
}

.derick-img img {
  width: 350px;
  border-radius: 20px;
}


/* LISTA */
.objetos {
  margin-top: 30px;
}

.objeto {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.objeto .icono {
  font-size: 40px;
}

.objeto p {
  margin-top: 15px;
  font-size: 20px;
}

.Contenido h1 {
  margin-bottom: 20px;
  padding: 20px;
}

/* SECCIÓN MIKI */
.inspiracion_miki {
  text-align: center;
}

.seccion_miki {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
}

.escrito_miki p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 15px;
}

.foto_miki {
  max-width: 220px;
}

.foto_miki img {
  width: 100%;
  border-radius: 25px;
}

/* FOOTER */
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  text-align: center;
  color: var(--blanco);
  padding-bottom: 20px;
}

.pie-logo img {
  width: 110px;
}

.pie-links {
  margin: 30px auto 0;
  font-size: 14px;
}

.pie-links a {
  padding: 0 10px;
  color: var(--blanco);
  text-decoration: none;
}

.pie-links a:hover {
  color: var(--footer);
}

.instagram {
  padding: 10px;
  display: flex;
  justify-content: center;
}
