:root {
  --azul-principal: #2053ba;   
  --azul-secundario: #011e4e; 
  --azul-claro: #007bff;       
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras:#77a3ea; 
  --footer:#bfc6db;
}
/*Destacar el nombre*/
.destacar {
  font-weight: bold;
  color: var(--azul-principal);
}
/* Inicio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, sans-serif;/*Cambiar*/
}

/* Navegador */
.navegar {
   padding: 0 190px;   /* m치rgenes internos a izquierda y derecha */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- ENLACES DE LA NAVEGADOR --- */
.nav-links a {
    position: relative;
    font-size: 18px;   
    font-weight: bold;
}

/* ocultandor  de la linia */
.nav-links a::after {
    content: "";
    position: absolute;
     bottom: -5px;
    left: 0%;
    width: 100%;
    height: 3px;
    background: var(--azul-claro);
    transform: scaleX(0);
    transition: transform 0.40s ease-out;

}

/* Aparicion linia */
.nav-links a:hover::after
 {
    transform: scaleX(1);
}

.navegar img{
    max-width: 20%;
}
.navegar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
/*Cambiar a pointer con la funcion del logo*/
#milogo, #milogoo {
    cursor: pointer; /* Cambia el cursor a manito */

}

/* Parte principal contenedor de color */
.portada {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 115px 100px ;
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  color: var(--blanco);
   box-shadow: 0 10px 20px var(--sombras); 
}
/*Texto principal*/
.portada-texto{
  margin-left: 120px;

}
.portada h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.portada p {
  font-size: 20px;
  margin-bottom: 30px;
}

.boton {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  background:var(--blanco);
  color: var(--azul-principal);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* IMAGEN */
.portada-imagen img {
  width: 400px;
  border-radius: 30px;

}
/* Primero contenedor */

/*H2 encabezado Previo a los contendores*/

.encabezado_primer_contenedor{
  text-align: center;
  font-size: 30px; 
  margin: 60px auto auto;
}

/* Primero contenedor 1 Hugo */
.primer_contenedor {
   display: flex;
  
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
  align-items: center;
  gap: 60px; 
  
  width: 100%;       
  max-width: 1300px;
  margin: 40px auto;
}
/* TEXTO 1 */
  .nombre_hugo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nombre_hugo p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 35px;
 
}
.primer_contenedor h2{
  font-size: 36px;
}

/* IMAGEN 1 */

.primer_contenedor img{
width: 280px; 
  border-radius: 25px;
}






/* Segundo contenedor */
/* CONTENEDOR GIO */
.segundo_contenedor {
  display: flex;
  flex-direction: row-reverse;
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
  align-items: center;
  gap: 60px; 
  
  width: 100%;       
  max-width: 1300px;
  margin: 40px auto;
}

/* TEXTO 2 */
.nombre_gio {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.segundo_contenedor h2 {
  font-size: 36px;
}
.nombre_gio p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 40px;   
}


/* IMAGEN 2*/
.segundo_contenedor img {
  width: 280px; 
  border-radius: 25px;
}





/*Tercer contenedor 3*/

/*Mosca Muerta*/
.tercer_contenedor {
   display: flex;
  
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
  align-items: center;
  gap: 60px; 
  
  width: 100%;       
  max-width: 1300px;
  margin: 40px auto;
}
/* TEXTO 3 */
  .nombre_mosca {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nombre_mosca p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 40px;   
}
.tercer_contenedor h2{
  font-size: 36px;
}

/* IMAGEN 3 */

.tercer_contenedor img{
width: 280px; 
  border-radius: 25px;
}


/* CARDS DE SERVICIOS - C칩digo modificado para mejor separaci칩n y dise침o */
.encabezado_segundo_contenedor h2{
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
}
.servicios {
display: flex;
flex-direction: row;
  max-width: 1300px;
  gap: 60px;
  margin: 30px auto;
   
}
/*Tarjetas de Habilidades y equipo*/
.card {
  background: var(--gris-fondo);
  display: flex;
  flex-direction: column;
  padding: 30px; 
  border-radius: 20px; 
  box-shadow: 4px 4px 10px var(--sombras); 
  width: 33.33%; 
  

}

.card h3 {
  font-size: 24px; 
  margin-bottom: 5px;
}


.trabajos h2{
 font-size: 36px;
  padding: 40px 20px 20px 20px; 
  text-align: center;
  
}
.videos{
 display: flex;             
  justify-content: center;    
  align-items: center;        
  gap: 20px;                  
  flex-wrap: wrap;     
  background-color: #edf1f7;
  border-radius: 30px;
  padding: 20px;    
}
/*Animacion del scrolls Cuerpo*/
.oculto {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Pie de la pagina*/
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
    padding: 20px;
    text-align: center;
    color: var(--blanco);
}

.pie-logo img {
    width: 150px;
}

.pie-links {
    margin-top: 30px;
    font-size: 14px;
}

.pie-links a {
    margin: 15px;
    color: var(--blanco);
    text-decoration: none;
}

.pie-links a:hover {
    color: var(--footer);
}
/*Emoticono de insta*/
.instagram{
   padding: 20px;
  display: flex;
  justify-content: center;

}

.equipo_conocimientos1 {
  display: flex;
 justify-content: space-between; /* alinea a la derecha */
  gap: 20px;
  margin: 20px 100px 20px;
}

.equipo_conocimientos1 img {
  width: 100px;
  border-radius: 8px;
  margin-bottom: 20px;
}

