
/* VARIABLES GLOBALE */
:root {
  --azul-principal: #2053ba;
  --azul-secundario: #011e4e;
  --azul-claro: #007bff;
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras: #77a3ea;
  --footer: #bfc6db;
}

/* Reinicio para los buscadores*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Color para destacar elementos*/
.destacar {
  font-weight: bold;
  color: var(--azul-principal);
}


/* NAVEGACIÓN*/

/*header general*/
.navegar {
  width: 100%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 0 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegar img{
  width: 65px
}
/*Click logos*/
#logo_nav,
#logo_pie{
  cursor: pointer;
}
.navegar a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--azul-secundario);
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--azul-claro);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}


/* PORTADA*/

.portada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 96px;
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  color: var(--blanco);
  box-shadow: 0 10px 20px var(--sombras);
}

.portada-texto {
  margin-left: 10px;
}

.portada h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}

.portada p {
  font-size: 20px;
  margin-bottom: 30px;
}
/*empezar*/
.boton {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: var(--azul-principal);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.portada-imagen img {
  width: 400px;
  border-radius: 30px;
}

/* CLIENTES / CONTENEDORES */

.encabezado_primer_contenedor {
  text-align: center;
  font-size: 30px;
  margin: 30px auto;
}

.primer_contenedor,
.segundo_contenedor,
.tercer_contenedor {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1300px;
  margin: 40px auto;
  padding: 40px 60px;
  background: var(--gris-fondo);
  border-radius: 30px;
}
/*Invertido*/
.segundo_contenedor {
  flex-direction: row-reverse;
}
/*Contenedor dentro del contenedor*/
.nombre_hugo,
.nombre_gio,
.nombre_mosca {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.primer_contenedor h2,
.segundo_contenedor h2,
.tercer_contenedor h2 {
  font-size: 36px;
}

.nombre_hugo p,
.nombre_gio p,
.nombre_mosca p {
  font-size: 18px;
  margin-top: 15px;
}

.primer_contenedor img,
.segundo_contenedor img,
.tercer_contenedor img {
  width: 280px;
  border-radius: 25px;
}

/* Habilidades & Equipo */
.encabezado_segundo_contenedor h2 {
  text-align: center;
  font-size: 38px;
}
/*Contenedor*/
.servicios {
  display: flex;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  margin: 20px auto 30px;
}

/* Tarjetas giratorias */
.card {
  perspective: 1000px;
  background: none;
  box-shadow: none;
  flex: 1 1 220px;  /* Flex-grow, flex-shrink, ancho base mínimo */
  max-width: 1000px; /* Tamaño máximo de cada tarjeta */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 220px;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gris-fondo);
}

.card-front img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card-front h3 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
  font-size: 18px;
}

/* PORTAFOLIO */
.portafolio h2 {
  font-size: 40px;
  text-align: center;

}
/*Contenedor*/
.portafolio {
  padding: 20px;
}

.videos {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris-fondo);
  border-radius: 50px;
  margin: 20px auto;
  padding: 30px 100px;
}

/* ANIMACIONES */
.oculto {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  text-align: center;
  color: var(--blanco);
  padding-bottom: 20px;
  margin-top: 20px;
}
/*Imagen logo*/
.pie-logo img {
  width: 110px;
  margin: 20px auto 0px;

}
/*Contenedor politicas,etc*/
.pie-links {
  margin: 30px auto 0;
  font-size: 14px;
}

.pie-links a {
  padding: 0 20px;
  color: var(--blanco);
  text-decoration: none;
}

.pie-links a:hover {
  color: var(--footer);
}
/*Svg*/
.redes {
  display: flex;
  justify-content: center;
   gap: 20px;
  margin-bottom:20px;
}
