:root {
  --azul-principal: #2053ba;   
  --azul-secundario: #011e4e; 
  --azul-claro: #007bff;       
  --blanco: #fff;
  --gris-fondo: #edf1f7;
  --sombras:#77a3ea;
}
/* Inicio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Helvetica, sans-serif;/*Cambiar*/
}

/* NAVBAR */
.navegar {
   padding: 0 190px;   /* m치rgenes internos a izquierda y derecha */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --- ENLACES DE LA NAVBAR --- */
.nav-links a {
    position: relative;
    font-size: 18px;   
    font-weight: bold;
}

/* ocultandor  de la linia */
.nav-links a::after {
    content: "";
    position: absolute;
     bottom: -5px;
    left: 0%;
    width: 100%;
    height: 3px;
    background: var(--azul-claro);
    transform: scaleX(0);
    transition: transform 0.40s ease-out;

}

/* Aparicion linia */
.nav-links a:hover::after
 {
    transform: scaleX(1);
}

.navegar img{
    max-width: 20%;
    outline: none;
    vertical-align: middle;}
.navegar a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
/*Cambiar a pointer con la funcion del logo*/
#milogo, #milogoo {
    cursor: pointer; /* Cambia el cursor a manito */

}

/* Parte principal contenedor de color */
.portada {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 115px 100px ;
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
  color: var(--blanco);
   box-shadow: 0 10px 20px var(--sombras); 
}
/*Texto principal*/
.portada-texto{
  margin-left: 120px;

}
.portada h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.portada p {
  font-size: 20px;
  margin-bottom: 30px;
}

.boton {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  background:var(--blanco);
  color: var(--azul-principal);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* IMAGEN */
.portada-imagen img {
  width: 400px;
  border-radius: 30px;

}
/* Primero contenedor */

/* CARDS DE SERVICIOS - C칩digo modificado para mejor separaci칩n y dise침o */
.servicios {
display: flex;
  gap: 30px;
  max-width: 800px;
  justify-content: center; 
  margin: 0 auto;
   
}
/* Primero contenedor */
.primer_contenedor {
  display: flex;
  padding: 40px;
  background: var(--gris-fondo);
  border-radius: 20px; 
  align-items: flex-start;


  width: 70%;
  max-width: 1200px;
  margin: 30px auto;
}
.primer_contenedor h2{
  font-size: 32px;
  margin-bottom: 20px;
  text-align: left;
}
.primer_contenedor img{
  width: 300px;
  border-radius: 20px;
  margin: right;
}
.nombre{ 
  display: flex;
  flex-direction: column; /* apilar h2 y p verticalmente */
  margin-left: 100px; 
  margin-top: 100px;

}
.encabezado_primer_contenedor{
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}

/*Tarjetas de Habilidades y equipo*/
.card {
  background: #edf1f7;
  display: flex;
  flex-direction: column;
  padding: 30px; 
  border-radius: 20px; 
  box-shadow: 4px 4px 10px var(--sombras); 
  width: 33.33%; 
  text-align: left; 

}

.card h3 {
  font-size: 24px; 
  margin-bottom: 5px;
}
.trabajos h2{
 font-size: 36px;
  padding: 40px 20px 20px 20px; 
  text-align: center;
  
}
.videos{
 display: flex;             
  justify-content: center;    
  align-items: center;        
  gap: 20px;                  
  flex-wrap: wrap;     
  background-color: #edf1f7;
  border-radius: 30px;
  padding: 20px;    
}
/*Pie de la pagina*/
.pie {
  background: linear-gradient(to right, var(--azul-secundario), var(--azul-principal));
    padding: 20px;
    text-align: center;
    color: var(--blanco);
}

.pie-logo img {
    width: 150px;
}

.pie-links {
    margin-top: 30px;
    font-size: 14px;
}

.pie-links a {
    margin: 0 15px;
    color: #bfc6db;
    text-decoration: none;
}

.pie-links a:hover {
    color: white;
}
/*Emoticono de insta*/
.instagram{
   padding: 20px;
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
}

.instagram svg{
  height: 40px;
}
/*Animacion del scrolls*/
.oculto {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}
